<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <img src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/95/8934643095_25bf0465-efd4-47d2-ba68-c8e99e3fa477.png?cb=1713816968"
         alt="Logo" class="img-fluid" style="max-height: 100px;">
      </div>
      <div class="text-right">
        <div class="d-flex align-items-center mb-2 justify-content-start" style="gap: 10px;">
          <i class="fas fa-phone-alt mr-2 ph-grey"></i>
          <div class="font-weight-bold here-to-help">+1 (877) 347-7799</div>
        </div>
        <div class="d-flex align-items-center mb-2 justify-content-start" style="gap: 10px;">
          <i class="fas fa-envelope mr-2 ph-grey"></i>
          <a href="mailto:Enrollment@UnitedProvidersMS.com" class="here-to-help">Enrollment@UnitedProvidersMS.com</a>
        </div>
        <div class="d-flex align-items-center justify-content-start" style="gap: 10px;">
          <i class="fas fa-map-marker-alt mr-2 ph-grey"></i>
          <div class="here-to-help">175 Pearl Street FL 1 Brooklyn, NY 11201</div>
        </div>
      </div>
    </div>
  </div>
  