
<header class="pl-96 pr-96">
  <div>
      <img src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/95/8934643095_25bf0465-efd4-47d2-ba68-c8e99e3fa477.png?cb=1713816968"
          alt="Logo" class="img-fluid" style="max-height: 90px;">
  </div>
  <nav style="padding-top: 15px;">
      <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#journey">Let's start our journey</a></li>
          <li><a href="#contact" class="button-style">Contact Us</a></li>
      </ul>
  </nav>
</header>

