<!-- <section id="about" class="section">


  <div class="container">
    <div class="mx-auto border border-secondary rounded p-3" style="width: 25%;">
      <h2 class="text-center">UNITED PROVIDERS MEDICAL SOLUTIONS</h2>
      <div class="d-flex justify-content-center">
        <a class="btn btn-secondary" href="#contact">Learn more</a>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="d-flex justify-content-center">
      <h2>About</h2>
    </div>
    <div class="d-flex justify-content-center">
      <a class="btn btn-secondary" href="#contact">Learn more</a>
    </div>
  </div>
</section>

<section id="journey" class="section">
  <div class="container">
    <h2>Let's Start Our Journey</h2>
    <p>Begin your journey here.</p>
  </div>
</section>

<section id="contact" class="section">
  <div class="container">
    <h2>Contact Us</h2>
    <form (ngSubmit)="submitForm(contactForm)" #contactForm="ngForm" class="w-50">
      <div class="d-flex">
        <div class="form-group p-1 col-6">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" ngModel required>
        </div>
        <div class="form-group p-1 col-6">
          <label for="phone">Phone</label>
          <input type="tel" class="form-control" id="phone" name="phone" ngModel>
        </div>
      </div>
      <div class="form-group p-1">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" ngModel required email>
      </div>
      <div class="form-group p-1">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" name="message" ngModel required></textarea>
      </div>
      <button type="submit" class="btn btn-secondary p-2" [disabled]="!contactForm.valid">Send Message</button>
    </form>
  </div>
</section> -->

<body>

  <section class="hero picture-section">
      <div class="hero-content">
          <h1 class="ph-indigo">United Providers Medical Solutions</h1>
          <p>Delivering advanced medical solutions for better patient care. United Providers Medical Solutions—where innovation meets healthcare excellence.</p>
          <button>Learn more</button>
      </div>
      <div class="hero-image">
          <img src="https://s3-alpha-sig.figma.com/img/604c/ec35/0fa3013acd295a41b11fadb98bd96084?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=W9eqyElLz3UIwbZmrteOIksqZmkMUTnbkPNP7~UxeLTD-P8fL3qv2jVwdQEdC5vWkuMJDTAHzNSvhpz8vWQNpKg9MSIVheJ0fDCZh8qHhe3Oa7duPA4-YlKQriGWhKlfmUQzmPm75U78gCNkT41O6OAoa1-px~u-JY4JpwbOvkw7aM6Cozy2OBWo9vOa3flAU8dJhvOSuK4UtKXwSM1iIcDSH4JlDI9rgt9CB~BIZufgoIl-Pj6Do54yCW-UWDP9yxrHLxJ0a8ZE5IFQhVS1pcZEoYmg4JKBvQdD7rqFl07ugZlZs2wRwubCf7z~59PCzjtHjUzIGlvGm9w3S-jrew__" alt="Hero Image">
      </div>
  </section>

  <div class="d-flex justify-content-center">
  <section id="about" class="about" style="max-width: 747px;">
    <h2>About</h2>
    <p>United Providers Medical Solutions enhances healthcare with innovative technology and compassionate service, partnering with professionals to improve patient care.</p>
    <button>Learn more</button>
  </section>
  </div>

   <section id="journey" class="journey">
    <div container class="d-flex justify-content-center pr-96 pl-96">
      <div class="journey-bg col-12">
        <div class="journey-text">
          <h2 style="color: white;">Let's Start Our Journey</h2>
        </div>
      </div>
    </div>
    <div class="enrollment pr-96 pl-96">
        <h2 class="color-navy">Enrollment</h2>
        <p>Book today and experience the top-notch quality of our service firsthand.</p>
        <button>Contact Us</button>
    </div>
</section>
  <section id="contact" class="contact">
  <div class="container">
    <div class="d-flex justify-content-center">
      <section id="about" class="about" style="max-width: 747px;">
        <h2>Contact Us</h2>
        <p class="here-to-help">We're here to help! Send any questions you have to us. We look forward to hearing from you.</p>
      </section>
      </div>
    <!-- <form  #contactForm="ngForm" class="w-50">
      <div class="d-flex">
        <div class=" p-1 col-6">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" ngModel required>
        </div>
        <div class=" p-1 col-6">
          <label for="phone">Phone</label>
          <input type="tel" class="form-control" id="phone" name="phone" ngModel>
        </div>
      </div>
      <div class=" p-1">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" ngModel required email>
      </div>
      <div class=" p-1">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" name="message" ngModel required></textarea>
      </div>
      <button type="submit" [disabled]="!contactForm.valid" (click)="submitForm(contactForm)">Submit</button>
    </form> -->
  </div>
</section> 

</body>
